<template>
  <div
    class="fav"
    v-on:click="clicked()"
    v-on:touchstart.passive="startTouch"
    v-on:touchmove.passive="moveTouch"
    v-on:touchend="endTouch"
    v-bind:style="style"
  >
    <span>
      {{ fav.title }}
    </span>
  </div>
</template>

<script lang="ts">
import { ActionTypes } from "@/store/action-types";
import { MutationTypes } from "@/store/mutation-types";
import { defineComponent } from "vue";

export default defineComponent({
  data() {
    return {
      startX: -1,
      deltaX: 0
    };
  },

  props: {
    fav: {
      type: Object as () => NASAImage,
      required: true
    }
  },

  computed: {
    screenWidth() {
      return screen.width;
    },
    style() {
      let tmpDelta = this.deltaX;
      if (Math.abs(tmpDelta) / this.screenWidth < 0.05) {
        tmpDelta = 0;
      }

      const move: string = tmpDelta.toString() + "px";

      return {
        "--move-x": move
      };
    }
  },

  methods: {
    clicked(): void {
      this.$store.commit(MutationTypes.UPDATE_CURRENT_IMAGE, this.fav);

      this.$router.push({
        path: "/"
      });
    },

    remove(): void {
      this.$store.commit(MutationTypes.REMOVE_FAVORITE, this.fav.pageURL);

      this.$store.dispatch(ActionTypes.SAVE_FAVORITES, undefined);
    },

    startTouch(event: TouchEvent): void {
      const touch = event.touches[0];

      this.startX = touch.screenX;
    },
    endTouch(): void {
      if (this.deltaX < 0) {
        this.startX = 0;
        this.deltaX = 0;

        return;
      }

      const screenWidth = screen.width;
      const movePerc = Math.abs(this.deltaX) / screenWidth;

      if (movePerc > 0.3) {
        this.remove();
      }

      this.startX = 0;
      this.deltaX = 0;
    },
    moveTouch(event: TouchEvent): void {
      const touch = event.touches[0];
      this.deltaX = touch.screenX - this.startX;
    }
  }
});
</script>

<style scoped>
.fav {
  display: inline-block;

  width: 75%;

  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px 0px;
  border-radius: 5px;
  background: #333333;

  transform: translateX(var(--move-x));

  transition: transform 0.1s ease;
}

.fav > span {
  font-size: 1.05rem;
}
</style>
