<template>
  <div class="container">
    <favorite v-for="fav in favorites" :key="fav.pageURL" :fav="fav" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import Favorite from "@/components/favorites/favorite.vue";

export default defineComponent({
  components: {
    Favorite
  },

  computed: {
    favorites(): Array<NASAImage> {
      return this.$store.state.settings.Favorites;
    }
  }
});
</script>

<style scoped>
span {
  display: block;
}

.container {
  display: block;
  width: 100%;
  height: 87.5vh;
  overflow-x: hidden;
  overflow-y: auto;
}
</style>
