<template>
  <div class="home">
    <c-button v-on:clicked="loadRandom()">Load Random</c-button>
    <div v-if="hasImage" class="imageDiv">
      <img :src="imageURL" alt="Space-Image" />
      <share-button class="shareButton" v-on:share="share()" />
      <like-button
        class="likeButton"
        v-on:liked="favorite($event)"
        :value="liked"
      />
    </div>
    <h3>{{ imageTitle }}</h3>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import CButton from "@/components/general/button.vue";
import LikeButton from "@/components/home/likeButton.vue";
import ShareButton from "@/components/home/shareButton.vue";

import { ActionTypes } from "@/store/action-types";
import { MutationTypes } from "@/store/mutation-types";

export default defineComponent({
  components: {
    CButton,
    LikeButton,
    ShareButton
  },
  methods: {
    loadRandom() {
      this.$store
        .dispatch(ActionTypes.LOAD_RANDOM, undefined)
        .catch(console.log);
    },
    favorite(nValue: boolean): void {
      if (nValue) {
        if (this.$store.state.currentImage == undefined) return;
        this.$store.commit(
          MutationTypes.ADD_FAVORITE,
          this.$store.state.currentImage
        );
        this.$store.dispatch(ActionTypes.SAVE_FAVORITES, undefined);
      } else {
        if (this.$store.state.currentImage == undefined) return;
        this.$store.commit(
          MutationTypes.REMOVE_FAVORITE,
          this.$store.state.currentImage.pageURL
        );
        this.$store.dispatch(ActionTypes.SAVE_FAVORITES, undefined);
      }
    },
    share() {
      const current = this.$store.state.currentImage;
      if (current == undefined) return;

      const query = `?year=${current.date.year}&month=${current.date.month}&day=${current.date.day}`;
      const url = document.URL + query;

      const input = document.body.appendChild(document.createElement("input"));
      input.value = url;
      input.focus();
      input.select();
      input.setSelectionRange(0, 999);
      document.execCommand("copy");
      const parent = input.parentElement;
      if (parent == undefined) return;
      parent.removeChild(input);
    },
    cleanUpDate(): void {
      this.$router.replace({ path: "/" });
    }
  },
  computed: {
    hasImage() {
      return this.$store.state.currentImage != undefined;
    },
    imageURL() {
      if (this.$store.state.currentImage == undefined) return "";
      return this.$store.state.currentImage.imageURL;
    },
    imageTitle() {
      if (this.$store.state.currentImage == undefined) return "";
      return this.$store.state.currentImage.title;
    },
    liked() {
      if (this.$store.state.currentImage == undefined) return false;
      const pageURL = this.$store.state.currentImage.pageURL;

      for (const tmpFav of this.$store.state.settings.Favorites) {
        if (tmpFav.pageURL == pageURL) {
          return true;
        }
      }

      return false;
    }
  },
  mounted() {
    const query = this.$route.query;
    if (
      typeof query.day !== "string" ||
      typeof query.month !== "string" ||
      typeof query.year !== "string"
    ) {
      this.cleanUpDate();
      return;
    }

    const day = {
      day: parseInt(query.day),
      month: parseInt(query.month),
      year: parseInt(query.year)
    } as NasaDate;

    this.$store
      .dispatch(ActionTypes.LOAD_SPECIFIC, day)
      .catch(console.log)
      .finally(() => {
        this.cleanUpDate();
      });
  }
});
</script>

<style scoped>
img {
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 5px;
}
.home > * {
  margin-bottom: 5px;
}

.imageDiv {
  display: block;
  position: relative;
  max-width: 90vw;
  max-height: 80vh;
  margin: auto;
}
.likeButton,
.shareButton {
  position: absolute;
  display: block;
  left: calc(100% - 12vmin);
  width: 10vmin;
  height: 10vmin;
}
.likeButton {
  top: calc(100% - 12vmin);
}
.shareButton {
  top: 2vmin;
}
</style>
