<template>
  <button v-on:click="clicked()"><slot></slot></button>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  methods: {
    clicked() {
      this.$emit("clicked");
    }
  }
});
</script>

<style scoped>
button {
  font-size: 1.05em;
  color: var(--s-text-color);
  background-color: var(--s-contrast-color);

  padding: 0.2em 0.3em;

  border: none;
  border-radius: 4px;
}
button:focus {
  filter: brightness(140%);
  outline: none;
}
</style>
