<template>
  <div>
    <router-link ref="home" to="/">Home</router-link>
    <router-link ref="favorites" to="/favorites">Favorites</router-link>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({});
</script>

<style scoped>
div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  max-width: 95vw;
  margin: auto;
}
a {
  font-size: 1.5rem;
  padding: 2px 8px;
  text-decoration: none;
  color: var(--p-text-color);
}
.router-link-active {
  color: var(--s-text-color);
  background-color: var(--s-contrast-color);
  border-radius: 2px;
}
</style>
