<template>
  <div class="likeButtonDiv" v-on:click="like()">
    <svg
      class="fillLikeButton"
      viewBox="0 0 24 24"
      v-bind:class="{
        active: liked
      }"
    >
      <path d="M18 1l-6 4-6-4-6 5v7l12 10 12-10v-7z" />
    </svg>
    <svg class="likeButton" viewBox="0 0 24 24">
      <path
        d="M17.867 3.493l4.133 3.444v5.127l-10 8.333-10-8.334v-5.126l4.133-3.444 5.867 3.911 5.867-3.911zm.133-2.493l-6 4-6-4-6 5v7l12 10 12-10v-7l-6-5z"
      />
    </svg>
  </div>
</template>

<script lang="ts">
import { defineComponent, watch } from "vue";

export default defineComponent({
  props: {
    value: {
      type: Boolean,
      required: false
    }
  },

  data() {
    return {
      liked: false
    };
  },

  mounted() {
    watch(
      () => this.value,
      nValue => {
        if (nValue == undefined) return;

        this.liked = nValue;
      },
      { immediate: true }
    );
  },

  methods: {
    like(): void {
      this.liked = !this.liked;
      this.$emit("liked", this.liked);
    }
  }
});
</script>

<style scoped>
.likeButtonDiv {
  position: absolute;
}

.likeButton {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  fill: rgb(170, 170, 170);
}

.fillLikeButton {
  position: absolute;
  fill: rgb(230, 9, 9);

  transition: 0.2s ease-out;
}
.fillLikeButton.active {
  top: 0vmin;
  left: 0vmin;
  width: 100%;
  height: 100%;
}
.fillLikeButton:not(.active) {
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
}
</style>
