<template>
  <nav-bar />
  <router-view class="router-content" />
</template>

<script lang="ts">
import { defineComponent } from "vue";

import NavBar from "@/components/general/navBar.vue";
import { ActionTypes } from "./store/action-types";

export default defineComponent({
  components: {
    navBar: NavBar
  },

  mounted() {
    this.$store.dispatch(ActionTypes.LOAD_FAVORITES, undefined);
  }
});
</script>

<style>
* {
  --p-text-color: rgb(90, 90, 90);
  --s-text-color: rgb(120, 120, 120);

  --p-contrast-color: rgb(10, 10, 10);
  --s-contrast-color: rgb(20, 20, 20);
}
html {
  background-color: var(--p-contrast-color);
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

h3,
span {
  color: #aaaaaa;
}

.router-content {
  margin-top: 3vh;
}
</style>
